body{
	
	background-color:#282828;
	overflow: hidden;
}

#global-container{
	position:relative;
	margin:0 auto 0 auto;
	width:1580px;
	height:900px;
	background-image:url(../images/background.png);
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#161616;
	-webkit-box-shadow: 0px 0px 14px 2px #000000;
	-moz-box-shadow: 0px 0px 14px 2px #000000;
	box-shadow: 0px 0px 14px 2px #000000;
	overflow: hidden; 
}