body{
	margin:0;
	padding:0;
	background-image:url(../images/background.png);
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#282828;
}

#global-container{
	width:780px;
	min-height:500px;
	margin: 0 auto 0 auto;
	border:3px solid red;
}

#auth-overall{
	width:780px;
	height:71px;
	background-image:url(../images/login-on.png);
}


