html{
	background-image: url(../../common/images/background.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	background-color:#000;
}

body{
	margin:0;
	padding:0;
	font-size:1em;
	font-family:"Tahoma";

	overflow-x:hidden;
}

#global-container{
	position:relative;
	width:780px;
	min-height:500px;
	margin:0 auto 0 auto;
	overflow:visible;
}

#i18n{
	position:absolute;
	top:0px;
	right:-200px;

}

#i18n ul.i18n{
	padding:0;
	margin:0;
	padding:5px;
	
	background-color:#232323;
	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -moz-opacity:.65; filter:alpha(opacity=65); opacity:.65;
}

#i18n ul.i18n li{
	color:#FFF;
	list-style:none;
	padding:0;
	margin:0;
	margin-top:5px;
}

#i18n ul.i18n li a{
	text-decoration:none;
	color:gray;
}

#i18n ul.i18n li a img{
	padding-right:3px;
}

#info-center{
	position:absolute;
	right:-200px;
	top:100px;
	width:154px;
	height:32px;
	background-image:url(../images/info-center/background.png);
}

#info-center img{
	position:relative;
	top:-16px;
	left:12px;
	cursor:pointer;
}

#info-center img:hover{
	top:-20px;
}



/*---------------------------------------------
	 Buttons
  ---------------------------------------------
*/

button.register{
	position:relative;
	border:0;
	padding:5px;
	
	background: #e4dd15; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZGQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzdjMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e4dd15 0%, #7c7c0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4dd15), color-stop(100%,#7c7c0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4dd15 0%,#7c7c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4dd15 0%,#7c7c0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4dd15 0%,#7c7c0c 100%); /* IE10+ */
	background: linear-gradient(top,  #e4dd15 0%,#7c7c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4dd15', endColorstr='#7c7c0c',GradientType=0 ); /* IE6-8 */

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor:pointer;
}

button.register:hover{
	top:1px;
	left:1px;
	margin-left:-1px;
}

button.fb-connect{
	width:150px;
	height:25px;
	border:0;
	background-color:transparent;
	background-image:url(../images/buttons/btn-fb-connect.png);
}

button.fb-connect:hover{
	background-image:url(../images/buttons/btn-fb-connect-hover.png);
}

button.fb-register{
	width:150px;
	height:29px;
	border:0;
	background-color:transparent;
	background-image:url(../images/buttons/btn-fb-register.png);
}

button.fb-register:hover{
	background-image:url(../images/buttons/btn-fb-register-hover.png);
}

form input.login{
	border:0;
	background-color:transparent;
	background-image:url(../images/icons/btn-power.png);
	background-repeat:no-repeat;
	width:45px;
	height:45px;
	cursor:pointer;
}
	
form input.login:hover{
	background-image:url(../images/icons/btn-power-hover.png);
}

/*---------------------------------------------
	 Global Tags
  ---------------------------------------------
*/
input[type=text], input[type=password]{
	padding:3px;	
}

input:focus { outline:none; }

a{
	color:#FFF;
	text-decoration:none;
}

a:hover{
	color:rgb(128,0,0);
	text-decoration:none;
}

img.load{
	display:none;
}

button{
	cursor:pointer;
}

/*---------------------------------------------
	 Footer
  ---------------------------------------------
*/
#footer{
	position:relative;
	width:1024px;
	height:100px;
	text-align:center;
	font-size:80%;
	color:#EFEFEF;
	margin: 0 auto 0 auto;
	padding-bottom:100px;
	margin-top:50px;
	clear:both;
}