<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/main.css') }}" />	
		{% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
    {% block body %}
        
        <div id="global-container">
        
        	<div id="overall-container">
        	
        		<div id="header">
        		
			        <div class="auth-overall">
			        	
			        	<div class="auth-top">
			        	
			        		<div class="social">
			        			
			        		</div>
			        		
			        		<div class="login">
			        			<span class="pseudo">Pseudo:</span>
			        			<span class="password">Mdp:</span>
			        			
			        			<div class="auth">
			        				
			        				<p class="form-logged">
			        					<form>
			        						<input class="username" type="text" name="username" id="username" size="10" />
			        						<input class="password" type="password" name="password" id="password" size="10" />
			        						
			        						<input class="submit" type="submit" name="sign-in" value="" /> 
			        					</form>
			        				</p>
			        				
			        			</div>
			        			
			        		</div>
			        		
			        		<div class="register">
			        			<p>Vous n'avez pas encore de compte?</p>
			        			
			        			<p><button>Je m'inscris</button></p>
			        		</div>
			        		
			        	</div>
			        	
			        	<div class="auth-bottom">
			        		
			        		<div class="links">
			        			<p><a href="#">Connexion</a> |<a href="#">Inscription</a></p>
			        		</div>
			        		
			        	</div>
			        	
			        </div>
		        
		        </div>
		        
		        <div id="container">
		        	
		        	<img id="char-managers" src="{{ asset('assets/images/characters-managers.png') }}" alt="Managers" />
		        	<img id="char-players" src="{{ asset('assets/images/characters-players.png') }}" alt="Players" />
		        	
		        	<div id="logo"></div>
		        	
		        	<div id="content">
		        		{% block content %}
		        		{% endblock %}
		        	</div>
		        	
		        </div>
		        
		        
	        </div>

        </div>
        
    {% endblock %}
      
        {% block javascripts %}{% endblock %}
    </body>
</html>
