<!DOCTYPE html>
<html>
    <head>
        {% include 'PmfStaticBundle:Common/Block:head.html.twig' %}
        
        {% block scripts %}
        {% endblock %}
        
        {% block stylesheets %}	
		{% endblock %}
        
        
    </head>
    <body>
    {% block body %}
    	
    	
    	{% block global_container %}
    	<div id="global-container">
    	
    	{% include 'PmfStaticBundle:Common/Block:common-body.html.twig' %}
    	
		    	<div id="content">
		    	{% block content %}
		    	
		    	{% endblock %}
		    	</div>
		    	
	    </div>
	    {% endblock %}
    	
    	{% block footer %}
    	<div id="footer">
    		{% include 'PmfStaticBundle:Common/Block:footer.html.twig' %}
    	</div>
    	{% endblock %}
    	
    {% endblock %}
    </body>
</html>