<!DOCTYPE html>
<html>
    <head>
        {% include 'PmfStaticBundle:Common/Block:head.html.twig' %}
		
        {% block stylesheets %}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/fixed/css/main.css') }}" />	
		{% endblock %}
        
        {% block scripts %}
             
        	
        	
        {% endblock %}
        
        
    </head>
    <body>
    {% block body %}
    	
    	{% include 'PmfStaticBundle:Common/Block:common_body.html.twig' %}
    	
    	<div id="container">
		    	<div id="content">
		    	{% block content %}
		    	
		    	{% endblock %}
		    	</div>
	    </div>
    	
    	<div id="footer">
    		{% include 'PmfStaticBundle:Common/Block:footer.html.twig' %}
    	</div>
    	
    {% endblock %}
    </body>
</html>