body{
	background-image:url(../../common/images/background-darker.png);
}

#content form{
	clear:both;
	padding-top:0.2em;
}

#content form p.labels{
	color:white;
}

#content form label{
	float:left;
	margin-left:60px;
}

#content form p.inputs{
	clear:both;
	padding-top:2px;
	padding-left:5px;
}

#content form input.login{
	position:relative;
	top:-2px;
	margin-right:1px;
	
}

@-moz-document url-prefix() { #content form input.login{
	top:0;
}}

#content form span.forgot-psw{
	font-size:11px;
	float:right;
	margin-right:18px;
	margin-top:-2px;
	font-style:italic;
}

/* hack firefox */
@-moz-document url-prefix() { #content form span.forgot-psw{
	margin-top:-10px;
}}

#content form span.forgot-psw a{
	color:#efefef;
}

#content p.new{
	float:right;
	color:#FFF;
	font-style:italic;
	font-size:10px;
	padding-right:2em;
	padding-top:2em;
}

#content button.register{
	float:right;
	clear:right;
	margin-right:2em;
	font-size:10px;
}

#content p.buttons{
	float:left;
	margin-left:0;
	padding-left:0;
	width:200px;
	text-align:center;
	color:#FFF;
}

#content p.buttons button{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

#content span.nav{
	float:left;
	padding-left:1em;
	padding-top:2px;
	font-size:8px;
}

#content span.nav a{
	color:orange;
	text-decoration:none;
}

#content span.nav a:hover{
	text-decoration:underline;
}
