body{
	margin:0;
	padding:0;
	background-color:#000000;
	background-image:url(../../common/images/background.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
}


#global-container{
	width:780px;
	min-height:500px;
	margin: 0 auto 0 auto;
}

/*---------------------------------------------
	 HEADER - AUTHENTIFICATION
  ---------------------------------------------
*/

#header{
	width:780px;
	font-family: Tahoma, Geneva, sans-serif;
	color:#EFEFEF;
	font-size:14px;
	position:relative;
	
	/* top part header hidden by default - slides */
	top:-75px;
	height:117px;
}

	#header .auth-overall{
	}
	
	#header .auth-top{
		height:87px;
		margin:0;
		padding:0;
		background-image:url(../images/auth-overall.png);
		background-repeat:no-repeat;
	}
	
	#header .auth-bottom{
		height:43px;
		margin:0;
		padding:0;
		background-repeat:no-repeat;
		background-position:right;
	}

/*---------------------------------------------
	 HEADER - AUTHENTIFICATION - TOP PART
  ---------------------------------------------
*/
#header .auth-top .social{
	position:relative;
	height:45px;
	width:150px;
	left:86px;
	top:18px;
	background-color:#efefef;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style:none;
}


#header .auth-top div.login{
	position:relative;
	height:70px;
	width:500px;
	left:80px;
	top:-46px;
	background-image:url(../images/auth-login.png);
	background-repeat:no-repeat;
	padding-left:10px;
}

	#header .auth-top .login span{
		color:#FFF;
		font-size:13px;
	}
	
	#header .auth-top .login span.pseudo{
		position:absolute;
		left:200px;
		top:8px;
	}
	
	#header .auth-top .login span.password{
		position:absolute;
		left:290px;
		top:8px;
	}
	
	#header .auth-top .login .auth{
		margin:0;
		position:absolute;
		top:20px;
	}
	
	/* hack firefox */
	#header .auth-top .login .auth, x:-moz-any-link{
		top:10px;
	}
	
	#header .auth-top .login form input.username{
		position:relative;
		left:170px;
	}
	
	#header .auth-top .login form input.password{
		position:relative;
		left:170px;
		background-color:#00000;
	}
	
	#header .auth-top .login form input.login{
		position:relative;
		top:-17px;
		right:-182px;
	}
	#header  .fb-root{
		position:relative;
		top:-17px;
		right:-10px;
	}
	/* hack firefox */
	@-moz-document url-prefix() { #header .auth-top .login form input.login{
		top:-5px;
		right:-55px;
	}}
	

#header .auth-top div.register{
	height:50px;
	width:233px;
	position:relative;
	left:546px;
	top:-120px;
	padding-left:3px;
}
	#header .auth-top div.register p{
		margin-right:0;
		padding-right:0;
		text-align:center;
		font-size:13px;
	}	


/*---------------------------------------------
	 HEADER - AUTHENTIFICATION - BOTTOM PART
  ---------------------------------------------
*/
#header .auth-bottom .links{
	position:relative;
	width:130px;
	height:30px;
	float:right;
	margin-top:-2px;
	background-image:url(../images/auth-links.png);
	background-repeat:no-repeat;
}

#header .auth-bottom .links p{
	margin:0;
	padding:0;
	color:#FFF;
	padding-top:3px;
	text-align:right;
}

#header .auth-bottom .links p a{
	margin:0;
	padding:0;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
}


/*---------------------------------------------
	 Container
  ---------------------------------------------
*/
#container{
	margin:0 auto 0 auto;
	height:456px; /* 100px more than background image. (356px) */
	font-family:"Tahoma";
	position:relative;
	background-image:url(../images/main-frame.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	margin-bottom:0;
}

#logo{
	position:absolute;
	padding-top:1em;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:right;
	background-color:#000;
	width:500px;
	height:200px;
	top:40px;
	z-index;2;
	
	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content{
	position:absolute;
	width:370px;
	height:185px;
	/* overflow:auto; */
	margin-top:5px;
	
	color:#FFF;
	font-size:12px;
	font-family: Tahoma, Geneva, sans-serif;
	position:relative;
	text-align:left;
	padding:3px;
	
	top:265px;
	left:70px;
	background-repeat:no-repeat;
	
	background-image:url(../images/bg-repeat-black-opac-65.png);
	/*-moz-opacity:.65; filter:alpha(opacity=65); opacity:.65;*/
	
	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}

#content h1, #content h2{
	font-size:12px;
}


/*---------------------------------------------
	 Statistics
  ---------------------------------------------
*/

#statistics .content{
	position:relative;
	width:99%;
	top:-10px;
	
	 /* expends to 120px on hover */
	height:0px;
	
	background-color:#232323;
	
	-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
	display:none;
	z-index:-1000;
}

	#statistics .content .frame{
		float:left;
		width:165px;
		height:90px;
		margin-right:1em;
		margin-left:1em;
		margin-top:1em;
		background-image:url(../images/frame-stats.png);
		background-repeat:no-repeat;
	}
	
	#statistics .content .frame span.type{
		position:relative;
		top:8px;
		left:15px;
		font-size:14px;
		color:#181818;
		font-weight:bold;
	}
	
	#statistics .content .stats{
		float:right;
		width:165px;
		margin-top:20px;
	}
	
	#statistics .content .stats p{
		margin:0;
		padding:0;
		color:#dbcf0d;
	}
	
	#statistics .content .stats p span{
		color:#FFF;
		font-size:12px;
		padding-right:0.5em;
	}
	
#statistics .bar{
	margin-top:0;
	width:99%;
	min-height:38px;
	background-image:url(../images/bar-stats.png);
	background-repeat:no-repeat;
	position:relative;
	top:-10px;
	z-index:1000;
}

	#statistics .bar p{
		margin:0;
		padding:0;
		padding-left:3.5em;
		padding-top:6px;
		color: white;
	}
	#statistics .bar p:hover{
		margin:0;
		padding:0;
		padding-left:3.5em;
		padding-top:6px;
		color:rgb(128,0,0);
	}

/*---------------------------------------------
	 Absolute Images
  ---------------------------------------------
*/
img#ball-shoes-field{
	position:absolute;
	bottom:-15px;
	left:-45px;
	z-index:0;
}

img#player_ozil{
	position:absolute;
	left:-185px;
	bottom:-20px;
	z-index:0;
}


img#player_cristina{
	position:absolute;
	right:15px;
	top:70px;
}

img#characters-managers{
	position:absolute;
	left:-15px;
	top:41px;
	z-index:1;
	
}

a#arrow-nav img{
	position:absolute;
	right:-120px;
	top:230px;
}

a#arrow-nav img:hover{
	right:-115px;
	cursor:default;
}


/*---------------------------------------------
	 Footer
  ---------------------------------------------
*/
#footer{
	position:relative;
	margin:0 auto 0 auto;
	width:900px;
	min-height:230px;
	margin-bottom:1em;
}
	
	#footer .container{
		width:inherit;
		min-height:inherit;
		background-image:url(../images/bg-footer.png);
		background-repeat:no-repeat;
	}

	#footer .inner{
		margin:0 auto 0 auto;
		width:536px;
		height:206px;
		background-image:url(../images/bg-inner-footer.png);
		background-repeat:no-repeat;
		float:left;
		position:absolute;
		left:57px;
		top:25px;
	}
	
	#footer .legal{
		text-align:center;
		font-size:13px;
		color:#EFEFEF;
	}
