{% block subject %}
	Bienvenue chez Pro Manager!
{% endblock %}

{% block body_html %}

<style type="text/css">

div#content{
	background-image:url({{ base_path }}/assets/pmfuser/images/registration/bg-email.png);
	background-repeat:no-repeat;
	width:448px;
	height:600px;
	overflow:auto;
	font-size:13px;
	font-family: "Times New Roman";
	padding-top:40px;
}

div#content p{
	padding-left:50px;
	padding-right:50px;
}

</style>

<div id="content">
	<p>Bonjour <br />
	Nous sommes ravi de vous accueillir sur Pro Manager. <br />
	Bienvenue!
	</p>
	
	<p>Le bord de direction vous annonce que votre candidature a été accepté.<br />
	Comme cadeau de bienvenue, le bord de direction vous offre le "Pack Standard", qui vous donne de nombreux avantages pour bien débuter votre carrière sur Pro Manager.
	</p>
	
	<p>Vous pouvez dès à présent vous connecter à Pro Manager et débuter votre carrière de manager en commencant par créer votre équipe.</p>
	
	<p><a href="{{ confirmationUrl }}">Confirmer mon adresse email et créer mon équipe.</a></p>
	
	<p>Bonne Chance,</p>
</div>

{% endblock %}