{% extends '::tmpl-fixed.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/fixed/css/register.css') }}" />

	
	<div id="photo-area">
		<img class="trombone" src="{{ asset('resources/images/profile/trombone.png') }}">
		<img class="picture" src="{{ asset('resources/images/profile/blank.png') }}">
	</div>
	

{% endblock %}