{% extends '::base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/pmfuser/css/register.css') }}" />

<div id="registration-p1">
	<div id="content">
		
		<!-- coffee and ipod images -->
		<img id="coffee" src="{{ asset('assets/pmfuser/images/registration/coffee.png') }}" alt="coffee">
		<img id="ipod" src="{{ asset('assets/pmfuser/images/registration/ipod.png') }}" alt="ipod">
		
		
		<h1>-REGLEMENT DU JEU-</h1>
		
		<div id="contract">
		
		</div>
	
	</div>	
</div>
{% endblock %}