html{
	background-image:url(../images/registration/background.png);
}

#registration-p1{
	position:relative;
	width:666px;
	height:814px;
	background-image:url(../images/registration/bg-profile.png);
	background-repeat:no-repeat;
	margin:0 auto 0 auto;
	left:1.5em;
}

img#coffee{
	position:absolute;
	left:-370px;
}

img#ipod{
	position:absolute;
	right:-300px;
	top:200px;
}

#content{
	position:relative;
	padding-left:4em;
	padding-right:7em;
	padding-top:4em;
}

#photo-area{
	width:164px;
	height:200px;
	position:relative;
	top:1.5em;
	float:left;
}

#photo-area .trombone{
	position:absolute;
	top:-20px;
}

h1{
	text-align:center;
	font-size:23px;
	font-weight:normal;
	margin-right:2em;
	margin-top:6em;
	color:#ff5f5f;
}

/*---------------------------------------------
	 Form
  ---------------------------------------------
*/
form{
	margin: 0;
	padding: 0;
	padding-top:50px;
	margin:0 auto 0 auto;
	width: 90%; 
}

form div{
	margin-bottom:0.7em;
}

form label{
	float: left;
	width: 40%;
}

form input, form textarea{
	width: 40%;
	margin-bottom: 5px;
}

form input[type=email]{
	width:41%;
}

form textarea{
	width: 250px;
	height: 150px;
}

form select{
	width:30%;
}

form select#fos_user_registration_form_birthday_day{
	width:50px;
}

form select#fos_user_registration_form_birthday_month{
	width:50px;
}

form select#fos_user_registration_form_birthday_year{
	width:100px;
}

form .boxes{
	width: 1em;
}

form div.radio{
	width:250px;
	float:left;
	font-size:70%;
}

form input[type=radio]{
	float:none;
	width:auto;
	margin-left:10px;
}

form div.radio label{
	float:none;
	width:auto;
}

form input[type=text], form input[type=password], form input[type=email]{
	border:0;
	background:none;
	-webkit-box-shadow:none;
	-webkit-border-radius:0;
	
	background-color:#EFEFEF
}


/* FANCYBOX */
.box{
	width:486px;
	overflow:hidden;
}

.box h1, .box p{
	margin:0;
	padding:0;
}

.box div.top{
	background-image:url(../images/registration/boxes/top-register.png);
	background-repeat:no-repeat;
}

.box div.top h1{
	color:#FFF;
	text-align:center;
	padding-top:7px;
	padding-bottom:7px;
}

.box div.middle{
	background-color:#FFF;
	padding-top:1em;
	padding-bottom:1em;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: inset 0px 0px 60px 7px rgba(0, 0, 0, 0.21);
    box-shadow: inset 0px 0px 60px 7px rgba(0, 0, 0, 0.21);
}

.box div.middle p{
	margin-left:1em;
	font-size:75%;
	margin-bottom:1em;
}

#fancybox-outer{
	background:none;
}


#contract{
	width:90%;
	height:350px;
	overflow:auto;
	margin:0 auto 0 auto;
	background-color:#EFEFEF;
}
