html{
	background-image:url(../images/registration/background.png);
}

#registration-p1{
	position:relative;
	width:666px;
	height:814px;
	background-image:url(../images/registration/bg-profile.png);
	background-repeat:no-repeat;
	margin:0 auto 0 auto;
	left:1.5em;
}

img#coffee{
	position:absolute;
	left:-370px;
}

img#ipod{
	position:absolute;
	right:-300px;
	top:200px;
}

#content{
	position:relative;
	padding-left:4em;
	padding-right:7em;
	padding-top:4em;
}

#photo-area{
	width:164px;
	height:200px;
	position:relative;
	top:1.5em;
	float:left;
}

#photo-area .trombone{
	position:absolute;
	top:-20px;
}

h1{
	text-align:center;
	font-size:23px;
	font-weight:normal;
	margin-right:2em;
	margin-top:6em;
	color:#ff5f5f;
}

/*---------------------------------------------
	 Form
  ---------------------------------------------
*/
form{
	margin: 0;
	padding: 0;
	padding-top:50px;
	margin:0 auto 0 auto;
	width: 90%; 
}

form div{
	margin-bottom:0.7em;
}

form label{
	float: left;
	width: 40%;
}

form input, textarea{
	width: 40%;
	margin-bottom: 5px;
}

form textarea{
	width: 250px;
	height: 150px;
}

form select{
	width:30%;
}

form select#fos_user_registration_form_birthday_day{
	width:50px;
}

form select#fos_user_registration_form_birthday_month{
	width:50px;
}

form select#fos_user_registration_form_birthday_year{
	width:100px;
}

form .boxes{
	width: 1em;
}


form input[type=text], form input[type=password], form input[type=email]{
	border:0;
	background:none;
	-webkit-box-shadow:none;
	-webkit-border-radius:0;
	
	background-color:#EFEFEF
}


/* FANCYBOX */
#box-registered{
	width:496px;
	height:241px;
	background-image:url(../images/registration/boxes/register.png);
	background-repeat:no-repeat;
}

#box-registered h1, #box-registered p{
	margin:0;
	padding:0;
}

#box-registered h1{
	color:#FFF;
	text-align:center;
	padding-top:15px;
	margin-bottom:30px;
}

#box-registered p{
	padding-left:1em;
	font-size:60%;
	margin-bottom:1em;
}
