<div id="i18n">
	<ul class="i18n">
		<li>Langue: <img src="{{ asset('assets/common/images/icons/flags/fr.png') }}" />
		<ul>
			<li><a href="#"><img src="{{ asset('assets/common/images/icons/flags/us.png') }}" />en</a></li>
		</ul></li>
	</ul>
</div>