<p><a href="#">Partenariat</a> |  <a href="#">Recrutement</a> |  <a href="#">Mentions légales</a> |  <a href="#">Aidez Pro Manager: évolution</a> | <a href="#">Un bug ?</a> | <a href="#">Nous contacter ?</a></p>
			   		<p>Design Elemets Entreprise - Tous droits réservés © 2012 - <a href="#"><a href="#">www.pro.manager.com</a></p>