<meta charset="UTF-8" />
<title>{% block title %}Pro Manager{% endblock %}</title>
      
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/common/css/main.css') }}" />